<!DOCTYPE html>
 <head>
  <meta charset="UTF-8">
  <title>Calculadora</title>
 </head>
 <body>
  <h1>Digite dois números:</h1>
  <form action="/soma" method="post" class="form">
   <label> Número 1: </label>
   <input id= "n1" name="n1" required/>
   <label> Número 2: </label>
   <input id= "n2" name="n2" required/>
   <input type="submit">Somar</input>
  </form>
  <br>
  <form action="/sub" method="post" class="form">
    <label> Número 1: </label>
    <input id= "n1" name="n1" required/>
    <label> Número 2: </label>
    <input id= "n2" name="n2" required/>
    <input type="submit">Subtrair</input>
   </form>
   <br>
   <form action="/mult" method="post" class="form">
    <label> Número 1: </label>
    <input id= "n1" name="n1" required/>
    <label> Número 2: </label>
    <input id= "n2" name="n2" required/>
    <input type="submit">Multiplicar</input>
   </form>
   <br>
   <form action="/div" method="post" class="form">
    <label> Número 1: </label>
    <input id= "n1" name="n1" required/>
    <label> Número 2: </label>
    <input id= "n2" name="n2" required/>
    <input type="submit">Dividir</input>
   </form>
  <h1>Resultado:</h1>
  <h1>
    <%=resultado%>
  </h1>
  <script>
    $(document).ready(function(){
        $(".form").submit(function(e){
            e.preventDefault();
        })
    })
  </script>
 </body>
</html>