<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>
</head>
<body>
    <form action="/end" method="post">Digite seu nome: 
        <input type="text" name="nome">
        <input type="submit" value="enviar">
        <p><%=resultado2%></p>
    </form>
</body>
</html>